.featuredBy {
  padding: 2rem 0;
}

.features {
  display: flex;
  align-items: center;
  width: 100%;
}

.featureSvg-3 {
  height: 160px;
  width: 160px;
  object-fit: contain;
}
.featureSvg-6 {
  height: 160px;
  width: 320px;
  object-fit: contain;
}
.featureSvg-12 {
  height: 160px;
  width: 320px;
  object-fit: contain;
}
